*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Orbitron';
}

li{
    list-style: none;
}

body{
    background-color: #fff;
}

.container{
    height: 100vh;
}

section[aria-label= "navbar"]{
    height: 15%;
    position: relative;
}

.navbar-container>div{
    display: inline-block;
}

.navbar-container>div:first-child{
    width: 20%;
    position: absolute;
    left: 80px;
    top: 40px;
}

.navbar-container>div:first-child>img{
    width: 150px;
}

.navbar-container>div:nth-child(2){
    width: 60%;
    position: absolute;
    left: 480px;
    top: 56px;
}

.list{
    width: fit-content;
    margin: auto;
}

.list-item{
    display: inline-block;
    margin-right: 60px;
    font-size: 1.2rem;
    font-weight: 500;
}

.list>li:first-child{
    position: relative;
    font-weight: 700;
    font-size: 1.5rem;
}

.list>li:first-child::after{
    content: "";
    width: 50px;
    height: 0.5px;
    border: 0.5px solid #000;
    background-color: #000;
    position: absolute;
    bottom: -2px;
    left: 1rem;
}

.button-group{
    width: 20%;
    position: absolute;
    right: 70px;
}

.button-group>div{
    display: inline-block;
}

.search-icon{
    position: absolute;
    top: 55px;
    left: 170px;
}

.search-icon>svg{
    width: 30px;
}

.nav-button{
    background-color: #fff;
    padding: 3px 35px;
    border: 3px solid #000;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    top: 48px;
    right: 0px;
}


/* HERO SECTION */
 
section[aria-label= "banner"]{
    height: 85%;
    position: relative;
}

.hero-container{
    height: 100%;
}

.hero-container>div>img{
    width: 30%;
    position: absolute;
    left: 80px;
    top: 70px;
}

.square>img{
    width: 30%;
    position: absolute;
    left: 170px;
    bottom: 38px;
}

.square::after{
    background-image: url(./assets/start.png);
    background-size: cover;
    display: inline-block;
    width: 60px; 
    height: 60px;
    content:"";
    position: absolute;
    left: 45%;
    bottom: 70px;
}

.globe>img{
    width: 80px;
    position: absolute;
    right: 40%;
    top: -20px;
    z-index: 1;
}

.star>img{
    width: 70px;
    position: absolute;
    right: 90px;
    top: 50px;
    z-index: 1;
}

.hero-container-right{
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}


.hero-heading{
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    position: absolute;
    right: 4rem;
    top: 10rem;
}

.hero-description{
    text-align: center;
    width: 70%;
    color: #1d1d1d;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 400;
    position: absolute;
    right: 10rem;
    top: 20rem;
}


.contact-heading{
    position: absolute;
    bottom: 120px;
    right: 490px;
    color: rgba(74, 62, 62, 0.973);
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 500;
}


.button-email{
    background-color: #fff;
    color: rgb(62, 59, 59);
    position: absolute;
    bottom: 18rem;
    left: 250px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.5rem 5rem;
}

.button-join{
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 18rem;
    right: 19rem;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 10px;
    padding: 0.5rem 3rem;
}

.icons{
    position: absolute;
    bottom: 50px;
    right: 26.5rem;
}

.icons img{
    width: 50px;
    margin-right: 10px;
} 